body{
    background-image: url("https://images3.alphacoders.com/489/thumb-1920-48959.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    color:white;
}

#form{>
   text-align:center;
  
}
.jumbotron{
    text-align:center;
   
    
}
h1{
    color: brown;
}
.melisa{
    margin: 10px;
    border-bottom-color: 
}
.col-md-12 #form{
   
}